<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.food.ordering.zinger.seller">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ZingerSeller"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.home.HomeActivity">
        </activity>
        <activity android:name=".ui.otp.OTPActivity"/>
        <activity android:name=".ui.seller.SellerActivity" />
        <activity android:name=".ui.order.OrderActivity" />
        <activity android:name=".ui.shopConfiguration.ShopConfigActivity" />
        <activity android:name=".ui.menu.MenuActivity" />
        <activity android:name=".ui.profile.ProfileActivity" />
        <activity android:name=".ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>